<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <%= simple_form_for @restaurant do |f| %>

          <%= f.input :name, label: "Bistrot", placeholder: "Bocuse", label_html: {class: "badge badge-primary"} %>

          <%= f.input :stars, input_html: {class: "text-center"}, placeholder: 3 %>

          <%= f.input :adress, placeholder: "Lyon" %>


        <%= f.submit %>

      <% end %>

    </div>
  </div>
</div>





