<h1 class="text-center">Les restaurants</h1>




  <div class="text-center">
    <%= link_to "ajouter un resto", new_restaurant_path, class: "btn btn-primary" %>
  </div>

<div class="container">
  <div class="row">
    <% @restaurants.each do |resto| %>
      <div class="col-xs-12 col-sm-4">
        <h2> <%= resto.name %></h2>
        <p> <%= resto.adress %></p>
        <p> <%= "*" * resto.stars %></p>

        <%= link_to "Voir ce restaurant", restaurant_path(resto), class: "btn btn-success" %>
        <%= link_to "Editer ce restaurant", edit_restaurant_path(resto), class: "btn btn-danger" %>
        <%= link_to "Supprimer ce restaurant", restaurant_path(resto), method: :delete, class: "btn btn-warning" %>
      </div>

    <% end %>

  </div>
</div>




